In [1]:
from sklearn import tree
import pandas as pd

In [2]:
df = pd.read_csv('resources/big_filtered.csv')

In [3]:
df=df[["duration","budget", "worlwide_gross_income","production_company"]]

In [4]:
df

      duration     budget  worlwide_gross_income    production_company
0           76          1                 516660                 23ten
1           91          2                 471182       Two Productions
2          162         18               35797045            Aksoy Film
3           86        900                  12097       FFM Productions
4          113       1000                4569780    Beautiful Pictures
...        ...        ...                    ...                   ...
8108       169  300000000              960996492  Walt Disney Pictures
8109       120  300000000              681871991          Warner Bros.
8110       152  317000000             1332540187  Walt Disney Pictures
8111       149  321000000             2048359754        Marvel Studios
8112       181  356000000             2797800564        Marvel Studios

[8113 rows x 4 columns]

In [5]:
s=pd.cut(df["worlwide_gross_income"], 5, labels=["1","2","3","4","5"])

In [6]:
df['worlwide_gross_income']=s
df.head()

   duration  budget worlwide_gross_income  production_company
0        76       1                     1               23ten
1        91       2                     1     Two Productions
2       162      18                     1          Aksoy Film
3        86     900                     1     FFM Productions
4       113    1000                     1  Beautiful Pictures

In [7]:
X=df[['duration','budget']]#features
y=df['worlwide_gross_income']#labels

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
y_test

2157    1
453     1
8044    4
3985    1
5366    1
       ..
7942    2
5624    1
7743    1
1600    1
7338    1
Name: worlwide_gross_income, Length: 2029, dtype: category
Categories (5, object): ['1' < '2' < '3' < '4' < '5']

In [9]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [10]:
rf = rf.fit(X_train, y_train)

In [11]:
y_pred=rf.predict(X_test)

In [12]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9743716116313454

In [13]:
rf.predict([[120,500000000]])

array(['2'], dtype=object)