In [1]:
#prepare dataframe of quantitative inputs to generate train_test split

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [197]:
df=pd.read_csv('quants_narrow_outlier_false.csv')
df = df.iloc[:,1:]
df.columns

Index(['duration', 'budget', 'gross', 'year', 'month', 'roi_outlier_ind'], dtype='object')

In [202]:
columns_to_keep=['duration','budget','gross','month']

In [203]:
df1 = df[columns_to_keep]

In [204]:
df1.head()

   duration  budget  gross  month
0        78    2500  15610      3
1       100    2500     51     10
2        80    5000  18389      4
3        75    5000  16743      8
4        79    7000     74     10

In [205]:
genre = pd.read_csv('genre_ary.csv')
genre = genre.iloc[:,1:]
genre
lang = pd.read_csv('language_ary.csv')
lang = lang.iloc[:,1:]

In [206]:
df_X = df1.join(genre).join(lang) #merges based on index location, which is desired

In [208]:
df_X=pd.read_csv('quants_narrow_outlier_false.csv')
df_X=df_X.drop(['Unnamed: 0','year'],axis=1)
df_X

      duration     budget       gross  month  roi_outlier_ind
0           78       2500       15610      3            False
1          100       2500          51     10            False
2           80       5000       18389      4            False
3           75       5000       16743      8            False
4           79       7000          74     10            False
...        ...        ...         ...    ...              ...
7476       135  275000000   392924807      5            False
7477       169  300000000   960996492      5            False
7478       120  300000000   681871991     11            False
7479       152  317000000  1332540187     12            False
7480       149  321000000  2048359754      4            False

[7481 rows x 5 columns]

In [209]:
df_X = df_X.join(genre)

In [210]:
df_X=df_X.join(lang)

In [211]:
s=pd.qcut(df_X["gross"], q=3, labels=['1','2','3'])

In [212]:
df_X['gross']=s
df_X.head()

,duration,budget,gross,month,roi_outlier_ind,action,adventure,animation,biography,comedy,...,chinese,english,french,german,italian,japanese,korean,other,russian,spanish
0,78,2500,1,3,False,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,100,2500,1,10,False,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,80,5000,1,4,False,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,75,5000,1,8,False,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,79,7000,1,10,False,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [213]:
df_X = df_X.drop(['gross'], axis=1)

In [214]:
df_X

,duration,budget,month,roi_outlier_ind,action,adventure,animation,biography,comedy,crime,...,chinese,english,french,german,italian,japanese,korean,other,russian,spanish
0,78,2500,3,False,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,100,2500,10,False,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,80,5000,4,False,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,75,5000,8,False,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,79,7000,10,False,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7476,135,275000000,5,False,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
7477,169,300000000,5,False,1,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
7478,120,300000000,11,False,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7479,152,317000000,12,False,0,1,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
7480,149,321000000,4,False,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0

In [215]:
X_train, X_test, y_train, y_test = train_test_split(df_X, y, random_state=42)

In [216]:
model = RandomForestClassifier()

In [217]:
model = model.fit(X_train, y_train)

In [218]:
df_X.to_csv('wide_quants.csv')

In [219]:
y_pred=rf.predict(X_test)
y_pred

array(['2', '3', '3', ..., '3', '3', '2'], dtype=object)

In [220]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6686264029930519

In [136]:
import joblib

In [137]:
joblib.dump(model, "./model.joblib")

['./model.joblib']

In [29]:
df_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8113 entries, 0 to 8112
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  8113 non-null   int64
 1   budget    8113 non-null   int64
 2   year      8113 non-null   int64
 3   month     8113 non-null   int64
dtypes: int64(4)
memory usage: 253.7 KB

In [18]:
df_X = df1.join(lang)

MemoryError: could not allocate 199,M bytes

In [30]:
df1['roi_outlier_ind'] = df['roi_outlier_ind']

In [32]:
df1_no_roi_outliers = df1[df1['roi_outlier_ind']==False]
df1_no_roi_outliers.head()

    duration  budget  gross  year  month  roi_outlier_ind
6         78    2500  15610  2007      3            False
7        100    2500     51  2011     10            False
9         80    5000  18389  2005      4            False
10        75    5000  16743  2010      8            False
15        79    7000     74  2015     10            False

In [33]:
len(df1_no_roi_outliers)

7481

In [34]:
df1_no_roi_outliers.to_csv('quants_narrow_outlier_false.csv')

In [36]:
df1a = df1_no_roi_outliers.drop('roi_outlier_ind', axis=1)

In [37]:
df1a.head()

    duration  budget  gross  year  month
6         78    2500  15610  2007      3
7        100    2500     51  2011     10
9         80    5000  18389  2005      4
10        75    5000  16743  2010      8
15        79    7000     74  2015     10

In [39]:
y=df1a['gross']
X=df1a.drop(['gross'], axis=1)

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [42]:
rf = rf.fit(X_train, y_train)

MemoryError: could not allocate 183697408 bytes